{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta name="msapplication-tap-highlight" content="no">




  <title>About</title>  

<link href="{% static './css/main.82cfd66e.css'%}" rel="stylesheet"></head>

<body>

<header class="">
  <div class="navbar navbar-default visible-xs">
    <button type="button" class="navbar-toggle collapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <nav class="sidebar">
    <div class="navbar-collapse" id="navbar-collapse">
      <div class="site-header hidden-xs">
          <a class="site-brand" href="{% url 'index' %}" title="">
            <img class="img-responsive site-logo" alt="" src="{% static './images/issat.jpg'%}"> 
          </a>
      </div>
      <ul class="nav">
        <li><a href="{% url 'index' %}" title="">Home</a></li>
         {% if user.is_admin%}
        <li><a href="{% url 'admin:index' %}" title="">manage</a></li>
        {% endif %}
        <li><a href="{% url 'about' %}" title="">About</a></li>
        <li><a href="{% url 'clubs' %}" title="">Clubs</a></li>
        <li><a href="{% url 'contact' %}" title="">Contact</a></li>
        {% if user.is_club%}
        <li><a href="{% url 'my club' user.id %}" title="">My club</a></li>
        {% endif %}
        <li><a href="{% url 'signout' %}" title="">Logout</a></li>
      </ul>

      <nav class="nav-footer">
      <h5>Follow us on social networks</h5>
        <p class="nav-footer-social-buttons">
          <a class="fa-icon" href="https://www.facebook.com/IssatSo" title="">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="fa-icon" href="http://www.issatso.rnu.tn/fo/index.php" title="">
            <i class="fa fa-chrome "></i>
          </a>
        </p>
      </nav>  
    </div> 
  </nav>
</header>
<main class="" id="main-collapse">


<div class="row">
  <div class="col-xs-12 col-md-6">
    <img class="img-responsive" alt="" src="{% static './images/img1.jpg'%}">
  </div>
  <div class="col-xs-12 col-md-6">
    <h1>About us</h1>
    
    <p>L'Institut supérieur des sciences appliquées et de technologie de Sousse ou ISSATSO est un établissement scientifique relevant de l'Université de Sousse (Tunisie). Il est créé en application des dispositions du décret n°1385-2001 du 7 juin 2001.<br>
L'institut ouvre ses portes dans les espaces réservés à l'Institut préparatoire aux études d'ingénieur et, dans ce cadre, le contenu de la bibliothèque et le matériel scientifique acquis durant les trois années de la vie de l'institut préparatoire sont exploités.<br>

Il compte, en 2001-2002, trois filières d'une durée de trois années chacune :<br>
Technicien supérieur en génie mécanique.<br>
Technicien supérieur en génie électronique.<br>
Technicien supérieur en informatique.<br>
En 2002-2003, une nouvelle filière, couronnée par une maîtrise en informatique, est créée. Elle comporte quatre années d'études réparties en deux cycles d'une durée de deux ans chacun. En 2003-2004, deux nouvelles filières sont créées (durée de trois ans d'étude chacune) :<br>
technicien supérieur en fluide et énergie<br>
technicien supérieur en sécurité et contrôle industriel<br>
En 2004-2005, une nouvelle filière formant des ingénieurs en informatique (temps réel) est créé. Enfin, en 2005-2006, un master de recherche en sûreté et sécurité des systèmes industriels voit le jour.</p>
    
    <a href="{% url 'contact' %}" class="btn btn-primary" title=""> Get in touch</a>
 </div>
</div>
    
</main>

<script>
document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
  navActivePage();
});
</script>


 <script type="text/javascript" src="{% static './js/main.85741bff.js'%}"></script></body>

</html>